# API Base URL
API_BASE_URL=https://perfumapidatabase.onrender.com
NEXT_PUBLIC_API_BASE_URL=https://perfumapidatabase.onrender.com

# Theme Colors (Base Palette)
NEXT_PUBLIC_BASE_BACKGROUND="#FFFBF1"
NEXT_PUBLIC_BASE_ACCENT_1="#FFF2D0"
NEXT_PUBLIC_BASE_ACCENT_2="#FFB2B2"
NEXT_PUBLIC_BASE_ACCENT_3="#E36A6A"
NEXT_PUBLIC_BASE_FOREGROUND="#2A2421"

# Theme Colors (Status Palette)
NEXT_PUBLIC_BASE_SUCCESS="#10B981"
NEXT_PUBLIC_BASE_ERROR="#EF4444"
NEXT_PUBLIC_BASE_ALERT="#F59E0B"
NEXT_PUBLIC_BASE_INFO="#3B82F6"